<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Set the character encoding for the document -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive design for mobile devices -->
    <title>Weather App</title> <!-- Title of the web page -->
    <link rel="stylesheet" href="main.css"> <!-- Link to the main CSS stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- Link to Font Awesome for icons -->
</head>
<body>
    <div class="container"> <!-- Main container for the app -->
        <form id="myForm" method="post"> <!-- Form for submitting the city name -->
            <input type="text" id="cityInput" placeholder="Enter city.." name="name" /> <!-- Input field for city name -->
            <button type="submit" id="search" formaction="/search-name"> <!-- Submit button to search for weather data -->
                <i class="fa-solid fa-magnifying-glass"></i> <!-- Magnifying glass icon from Font Awesome -->
            </button>
        <div class="response"> <!-- Container for displaying the weather response -->
            <div class="weather-temp"> <!-- Container for temperature and city name -->
                <% if(content.icon1 && content.temp && content.city && content.humid && content.wind1) {%> <!-- Check if weather data is available -->
                <img class="icon" src="http://openweathermap.org/img/wn/<%= content.icon1 %>@2x.png" alt="Weather Icon"> <!-- Display weather icon -->
                <p class="temp"><%= content.temp %>°c</p> <!-- Display temperature -->
                <p class="city"><%= content.city %></p> <!-- Display city name -->
            </div>

            <div class="weather-humidity-wind"> <!-- Container for humidity and wind information -->
                <p class="humid">Humidity: <%= content.humid %>%</p> <!-- Display humidity percentage -->
                <p class="wind">Wind Speed: <%= content.wind1 %> km/h</p> <!-- Display wind speed -->
            </div>
            <% }else{%> <!-- If no weather data is available, display the content -->
                <%= content %>
                <% } %> <!-- End of the conditional check -->
        </div>
    </div>
</body>
</html>
